<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="https://monitoresgaming.com">Home</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/hardware/">TOP Hardware</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}tag/videojuegos/">TOP Videojuegos</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}tag/artículos/">Artículos</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}tag/review/">Reviews</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>

</ul>
